body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

nav {
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #444;
}
img {
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}